{{> head }}
{{> navbar }}

<div class="row">
	<div class="col-8">
		<h1>VENTAS</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis provident, iste qui esse architecto error possimus? Excepturi optio repellendus labore pariatur ex animi at et, odio iste recusandae unde reprehenderit.</p>
	</div>
	<div class="col-4">
		<img src="assets/img/curso-ventas.jpg" class="img-thumbnail">
	</div>
</div>
 

{{> footer }}